page-order {
   
     .segment-button {
        color: black !important;
       
       
    }


    .segment-ios-light .segment-button.segment-activated {
        color: #f4f4f4 !important;
        background-color: #488aff !important;
        border-left-width: 1px;
        border-radius: 16px;
      }

      .segment-ios-light .segment-button {
        border-color: rgba(158, 158, 158, 0.1);
        color: #222 !important;
      }

      img {
        max-width: 100%;
        border: 0;
        max-height: 100%;
        width: 186px;
        height: 97px;
    }

    .item-ios p {
      
        font-size: 1.4rem;
        line-height: normal;
       
        color: #8e9093;
        margin: 0 0 2px;
        white-space: nowrap;
        width: 12em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      #pName {
       
            font-size: 1.7rem;
            line-height: normal;
            color: #d605d8;
            margin: 0 0 2px;
            white-space: nowrap;
            width: 12em;
            overflow: hidden;
            text-overflow: ellipsis;
          
      }

      #pQty {
        
             font-size: 1.5rem;
             line-height: normal;
             color: #ff0000;
             margin: 0 0 2px;
             white-space: nowrap;
             width: 12em;
             overflow: hidden;
             text-overflow: ellipsis;
           
       }

       #pPrice {
        
             font-size: 1.4rem;
             line-height: normal;
             color: #000;
             margin: 0 0 2px;
             white-space: nowrap;
             width: 12em;
             overflow: hidden;
             text-overflow: ellipsis;
           
       }

       
       #pStatus {
        
             font-size: 1.5rem;
             line-height: normal;
             color: #999;
             margin: 0 0 2px;
             white-space: nowrap;
             width: 12em;
             overflow: hidden;
             text-overflow: ellipsis;
           
       }
     
}
