<!-- Generated template for the IonUploadImageComponent component -->
<div *ngIf="images.length === 0">
    <img (click)="onUpload()" src="./assets/image/uploadImg.jpg">
</div>

<div *ngIf="images.length > 0">
  <ion-slides pager="true">
    <ion-slide *ngFor="let item of images; let i = index;">
      <img id="maxImage" src="{{ item }}">
      <div id="fixPosition">
          <ion-icon id="iconTrash" name="ios-trash-outline" (click)="onRemove(i)"></ion-icon>
      </div>
    </ion-slide>
  </ion-slides>
</div>


<button *ngIf="isShowUpload" ion-button block (click)="onUpload()">Upload Image</button>