ion-upload-image {

}
.loading-upload {
    .loading-wrapper {
        box-shadow: none !important;
        background-color: #dfdfdf !important;
        border-radius: 0px !important;
        width: 350px !important;
    }
}